@page "/galaxy/{id}"
@using System.Reflection;
@using SolarSystemN9
@using SolarSystemN9.Client
@using SolarSystemN9.Components
@using SolarSystemN9.Components.Card
@using SolarSystemN9.Components.Table
@using SolarSystemN9.Data.Entity

@* Will render once *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]

@if (SpaceEntity == null)
{
    <PageTitle>Système Solaire</PageTitle>
    <h1>Système Solaire</h1>
    <p><em>chargement en cours de @Id...</em></p>
}
else
{
    <PageTitle>@SpaceEntity</PageTitle>
    <h1>@SpaceEntity</h1>

    @if (SpaceEntity.AroundPlanet != null)
    {
        <div>
            <p>Autour de <a href=@($"/galaxy/{SpaceEntity.AroundPlanet.Id}")>@SpaceEntity.AroundPlanet</a></p>
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @if (spaceEntityProperties is not null) {
            @foreach (PropertyInfo prop in spaceEntityProperties)
            {
                <tr>
                    <td>@prop.Name</td>
                    <td>@prop.GetValue(SpaceEntity)</td>
                </tr>
            }
        }
        </tbody>
    </table>

    @if (SpaceEntity.Moons?.Any() ?? false)
    {
        <div>
            <h1>Lunes</h1>
            <PagedSpaceTable Items="SpaceEntity.Moons.AsQueryable()" />
        </div>
    }

    <h1>Schema</h1>
    <canvas id="canvas" width="400" height="400"></canvas>
}
